<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

  
<form action="/account/update" class="updateForm" method="POST">
  <label for="account_firstname">First Name</label>
  <input type="text" id="account_firstname" name="account_firstname" value="<%= locals.account_firstname %>">
  <label for="account_lastname">Last Name</label>
  <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.account_lastname %>">
  <label for="account_email">Email</label>
  <input type="email" id="account_email" name="account_email" value="<%= locals.account_email %>">
  <input type="hidden" name="account_id" value="<%= locals.account_id %>">
  <button type="submit">Update Account</button>
</form>

<form action="/account/change-password" class="updateForm" method="POST">
  <label for="new_password">New Password</label>
  <input type="password" id="new_password" name="new_password">
  <input type="hidden" name="account_id" value="<%= locals.account_id %>">
  <button type="submit">Change Password</button>
</form>
